<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lập Trình JavaScript Cơ bản</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/styles.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" style="background-color: rgb(41, 48, 59);">
            <a class="navbar-brand" href="/"><img src="img/previous.png" alt="" style="width: 20px; height: 20px; margin-right: 30px;"><img src="img/CourseHub.png" alt="" style="width: 40px; height: 40px;margin-right: 10px;">  Lập trình JavaScript Cơ Bản</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="margin-left: auto; color: white;">
                <li class="nav-item active">
                
                <a class="nav-link" href="#">106/206 bài học</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#"><img src="img/notes.png" alt="" style="width: 20px; height: 20px;"> Ghi chú</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#"><img src="img/question.png" alt="" style="width: 20px; height: 20px;"> Hướng dẫn</a>
                </li>
            </ul>
            </div>
        </nav>
    <!-- About Start -->
    <div class="container-fluid">
        <div>
            <div>
                <div class="d-flex align-items-center">
                    <div class="row-course" style="flex-direction: row;">
                        <div class="col-lg-7-11">
                            <iframe width="1200" height="580" src="//www.youtube.com/embed/p0Nxq6JBtoE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="noidung-course">
                            <header class="wrapper">
                                <h2>
                                    Sử dụng JavaScript với HTML
                                </h2>
                                <p>
                                    Cập nhật tháng 11 năm 2022
                                </p>
                                <span>
                                    Tham gia các cộng đồng để cùng học hỏi, chia sẻ và "thám thính" xem F8 sắp có gì mới nhé!
                                </span>
                                <li>
                                    Fanpage: https://www.facebook.com/f8vnofficial
                                </li>
                                <li>
                                    Group: https://www.facebook.com/groups/649972919142215
                                </li>
                                <li>
                                    Youtube: https://www.youtube.com/F8VNOfficial
                                </li>
                                <li>
                                    Sơn Đặng: https://www.facebook.com/sondnf8
                                </li>
                            </header>
                        </div>
                        <hr>
                        <div class="content-course">
                            <h3>
                                Cách Internal (sử dụng nội bộ)
                            </h3>
                            <span>
                                Đặt trực tiếp cặp thẻ script vào mã HTML và viết javascript giữa cặp thẻ này.
                            </span>
                        </div>
                    </div>                                        
                    <form class="container-fluid">
                        <div class="col-lg-7-12">
                            <h5 style=" color: black; font-size: 20px;">Nội dung khóa học</h5>
                            <div class="morongvathunho" style="display: none;"><a class="btn" style="color: orangered;" id="morongtatca">Mở rộng tất cả</a></div>
                            <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                                <div class="baihoc1"> 
                                    <h6 class="h6-god">
                                        <span class="icon expand-icon">+</span>
                                        <span>
                                            1. Giới thiệu
                                        </span>
                                    </h6>                      
                                </div>
                            </div>
                            <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                                <div class="noidung-baihoc">
                                    <div class="baihoc-div1">
                                        <span>
                                            1. Giới thiệu khóa học
                                        </span>
                                        <span class="time-baihoc">
                                            01:03
                                        </span>
                                    </div>
                                    <div class="baihoc-div2">
                                        <span>
                                            2. Cài đặt Dev - c++
                                        </span>
                                        <span class="time-baihoc">
                                            02:31
                                        </span>
                                    </div>
                                    <div class="baihoc-div3">
                                        <span>
                                            3. Hướng dẫn sử dụng Dev - C++
                                        </span>
                                        <span class="time-baihoc">
                                            03:33
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                                <div class="baihoc1"> 
                                    <h6 class="h6-god">
                                        <span class="icon expand-icon">+</span>
                                        <span>
                                            2. Biến và kiểu dữ liệu
                                        </span>
                                    </h6>                      
                                </div>
                            </div>
                            <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                                <div class="noidung-baihoc">
                                    <div class="baihoc-div1">
                                        <span>
                                            4. Biến và nhập xuất dữ liệu
                                        </span>
                                        <span class="time-baihoc">
                                            07:34
                                        </span>
                                    </div>
                                    <div class="baihoc-div2">
                                        <span>
                                            5. Biến (variable) là gì?
                                        </span>
                                        <span class="time-baihoc">
                                            00:25
                                        </span>
                                    </div>
                                    <div class="baihoc-div3">
                                        <span>
                                            6. Ôn lại cú pháp khai báo biến #1
                                        </span>
                                        <span class="time-baihoc">
                                            00:16
                                        </span>
                                    </div>
                                    <div class="baihoc-div4">
                                        <span>
                                            7. Ôn lại cú pháp khai báo biến #2
                                        </span>
                                        <span class="time-baihoc">
                                            00:15
                                        </span>
                                    </div>
                                    <div class="baihoc-div5">
                                        <span>
                                            8. Hướng dẫn làm bài thực hành
                                        </span>
                                        <span class="time-baihoc">
                                            00:17
                                        </span>
                                    </div>
                                    <div class="baihoc-div6">
                                        <span>
                                            9. Kiểu dữ liệu thường gặp
                                        </span>
                                        <span class="time-baihoc">
                                            05:43
                                        </span>
                                    </div>
                                    <div class="baihoc-div7">
                                        <span>
                                            10. Biến cục bộ và biến toàn cục
                                        </span>
                                        <span class="time-baihoc">
                                            06:42
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                                <div class="baihoc1"> 
                                    <h6 class="h6-god">
                                        <span class="icon expand-icon">+</span>
                                        <span>
                                            3. Cấu trúc điều khiển và vòng lặp
                                        </span>
                                    </h6>                      
                                </div>
                            </div>
                            <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                                <div class="noidung-baihoc">
                                    <div class="baihoc-div1">
                                        <span>
                                            11. Cấu trúc if else
                                        </span>
                                        <span class="time-baihoc">
                                            09:22
                                        </span>
                                    </div>
                                    <div class="baihoc-div2">
                                        <span>
                                            12. Kiểm tra số chẵn lẻ
                                        </span>
                                        <span class="time-baihoc">
                                            05:21
                                        </span>
                                    </div>
                                    <div class="baihoc-div3">
                                        <span>
                                            13. Cấu trúc switch case
                                        </span>
                                        <span class="time-baihoc">
                                            11:12
                                        </span>
                                    </div>
                                    <div class="baihoc-div3">
                                        <span>
                                            14. Toán tử 3 ngôi
                                        </span>
                                        <span class="time-baihoc">
                                            05:33
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                                <div class="baihoc1"> 
                                    <h6 class="h6-god">
                                        <span class="icon expand-icon">+</span>
                                        <span>
                                            4. Mảng
                                        </span>
                                    </h6>                      
                                </div>
                            </div>
                            <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                                <div class="noidung-baihoc">
                                    <div class="baihoc-div1">
                                        <span>
                                            15. Mảng 1 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            09:20
                                        </span>
                                    </div>
                                    <div class="baihoc-div2">
                                        <span>
                                            16.  Mảng 2 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            07:27
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                                <div class="baihoc1"> 
                                    <h6 class="h6-god">
                                        <span class="icon expand-icon">+</span>
                                        <span>
                                            4. Mảng
                                        </span>
                                    </h6>                      
                                </div>
                            </div>
                            <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                                <div class="noidung-baihoc">
                                    <div class="baihoc-div1">
                                        <span>
                                            15. Mảng 1 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            09:20
                                        </span>
                                    </div>
                                    <div class="baihoc-div2">
                                        <span>
                                            16.  Mảng 2 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            07:27
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                                <div class="baihoc1"> 
                                    <h6 class="h6-god">
                                        <span class="icon expand-icon">+</span>
                                        <span>
                                            4. Mảng
                                        </span>
                                    </h6>                      
                                </div>
                            </div>
                            <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                                <div class="noidung-baihoc">
                                    <div class="baihoc-div1">
                                        <span>
                                            15. Mảng 1 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            09:20
                                        </span>
                                    </div>
                                    <div class="baihoc-div2">
                                        <span>
                                            16.  Mảng 2 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            07:27
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                                <div class="baihoc1"> 
                                    <h6 class="h6-god">
                                        <span class="icon expand-icon">+</span>
                                        <span>
                                            4. Mảng
                                        </span>
                                    </h6>                      
                                </div>
                            </div>
                            <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                                <div class="noidung-baihoc">
                                    <div class="baihoc-div1">
                                        <span>
                                            15. Mảng 1 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            09:20
                                        </span>
                                    </div>
                                    <div class="baihoc-div2">
                                        <span>
                                            16.  Mảng 2 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            07:27
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                                <div class="baihoc1"> 
                                    <h6 class="h6-god">
                                        <span class="icon expand-icon">+</span>
                                        <span>
                                            4. Mảng
                                        </span>
                                    </h6>                      
                                </div>
                            </div>
                            <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                                <div class="noidung-baihoc">
                                    <div class="baihoc-div1">
                                        <span>
                                            15. Mảng 1 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            09:20
                                        </span>
                                    </div>
                                    <div class="baihoc-div2">
                                        <span>
                                            16.  Mảng 2 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            07:27
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                                <div class="baihoc1"> 
                                    <h6 class="h6-god">
                                        <span class="icon expand-icon">+</span>
                                        <span>
                                            4. Mảng
                                        </span>
                                    </h6>                      
                                </div>
                            </div>
                            <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                                <div class="noidung-baihoc">
                                    <div class="baihoc-div1">
                                        <span>
                                            15. Mảng 1 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            09:20
                                        </span>
                                    </div>
                                    <div class="baihoc-div2">
                                        <span>
                                            16.  Mảng 2 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            07:27
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                                <div class="baihoc1"> 
                                    <h6 class="h6-god">
                                        <span class="icon expand-icon">+</span>
                                        <span>
                                            4. Mảng
                                        </span>
                                    </h6>                      
                                </div>
                            </div>
                            <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                                <div class="noidung-baihoc">
                                    <div class="baihoc-div1">
                                        <span>
                                            15. Mảng 1 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            09:20
                                        </span>
                                    </div>
                                    <div class="baihoc-div2">
                                        <span>
                                            16.  Mảng 2 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            07:27
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                                <div class="baihoc1"> 
                                    <h6 class="h6-god">
                                        <span class="icon expand-icon">+</span>
                                        <span>
                                            4. Mảng
                                        </span>
                                    </h6>                      
                                </div>
                            </div>
                            <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                                <div class="noidung-baihoc">
                                    <div class="baihoc-div1">
                                        <span>
                                            15. Mảng 1 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            09:20
                                        </span>
                                    </div>
                                    <div class="baihoc-div2">
                                        <span>
                                            16.  Mảng 2 chiều
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                                <div class="baihoc1"> 
                                    <h6 class="h6-god">
                                        <span class="icon expand-icon">+</span>
                                        <span>
                                            4. Mảng
                                        </span>
                                    </h6>                      
                                </div>
                            </div>
                            <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                                <div class="noidung-baihoc">
                                    <div class="baihoc-div1">
                                        <span>
                                            15. Mảng 1 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            09:20
                                        </span>
                                    </div>
                                    <div class="baihoc-div2">
                                        <span>
                                            16.  Mảng 2 chiều
                                        </span>
                                        <span class="time-baihoc">
                                            07:27
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- About End -->
    <nav class="navbar navbar-expand-lg navbar navbar-light bg-light" style="display: flex; justify-content: center;">
        <nav aria-label="Page navigation example">
            <div class="navhear">
                <ul class="pagination">
                    <li class="nav-item nav-link active">
                      <a class="page-link" href="#" aria-label="Previous" style="color: black;">
                        <span aria-hidden="true">&laquo;</span>
                        <span>Previous</span>
                      </a>
                    </li>
                    <li class="nav-item nav-link active">
                      <a class="page-link" href="#" aria-label="Next" style="color: black;">
                      <span>Next</span>
                      <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
            </div>
          </nav>
    </nav>
</body>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/mail/jqBootstrapValidation.min.js"></script>
    <script src="/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script src="/js/course-detail.js"></script>
</html>