<%- include('partials/header'); -%>
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Lập trình C++ cơ bản, nâng cao</h5>
                        <p>Khóa học lập trình C++ từ cơ bản tới nâng cao dành cho người mới bắt đầu. 
                            Mục tiêu của khóa học này nhằm giúp các bạn nắm được các khái niệm căn cơ của lập trình, 
                            giúp các bạn có nền tảng vững chắc để chinh phục con đường trở thành một lập trình viên.</p>
                    </div>
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Nội dung khóa học</h5>
                    <div class="noidung-cl">
                        <ul>
                            <li class=""><strong>11 </strong> chương</li>
                            <li><strong>138 </strong> bài học</li>
                            <li><span>Thời lượng <strong>10 giờ 26 phút</strong></span></li>
                        </ul>
                            <div><a class="btn" style="color: orangered;">Mở rộng tất cả</a></div>
                    </div>
                    <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                        <div class="baihoc1"> 
                            <h6 class="h6-god">
                                <span class="icon expand-icon">+</span>
                                <span>
                                    1. Giới thiệu
                                </span>
                                <span class="span-baihoc">
                                    3 bài học
                                </span>
                            </h6>                      
                        </div>
                    </div>
                    <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                        <div class="noidung-baihoc">
                            <div class="baihoc-div">
                                <span>
                                    1. Giới thiệu khóa học
                                </span>
                                <span class="time-baihoc">
                                    01:03
                                </span>
                            </div>
                            <div class="baihoc-div">
                                <span>
                                    2. Cài đặt Dev - c++
                                </span>
                                <span class="time-baihoc">
                                    02:31
                                </span>
                            </div>
                            <div class="baihoc-div">
                                <span>
                                    3. Hướng dẫn sử dụng Dev - C++
                                </span>
                                <span class="time-baihoc">
                                    03:33
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="img/cat-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
<%- include('partials/footer'); -%>
<script src="/js/course-detail.js"></script>