<%- include('partials/header'); -%>
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Lập trình C++ cơ bản, nâng cao</h5>
                        <p>Khóa học lập trình C++ từ cơ bản tới nâng cao dành cho người mới bắt đầu. 
                            Mục tiêu của khóa học này nhằm giúp các bạn nắm được các khái niệm căn cơ của lập trình, 
                            giúp các bạn có nền tảng vững chắc để chinh phục con đường trở thành một lập trình viên.</p>
                    </div>
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Nội dung khóa học</h5>
                    <div class="noidung-cl">
                        <ul>
                            <li class=""><strong>11 </strong> chương</li>
                            <li><strong>138 </strong> bài học</li>
                            <li><span>Thời lượng <strong>10 giờ 26 phút</strong></span></li>
                        </ul>
                            <div><a class="btn" style="color: orangered;">Mở rộng tất cả</a></div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="img/cat-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <%- include('partials/footer'); -%>