<%- include('partials/header'); -%>

<form>
    <h2>Sign up</h2>
    <label for="account">Account</label>
    <input type="text" name="account" required />
    <div class="account error">

    </div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error">

    </div>
    <label for="userName">User Name</label>
    <input type="text" name="userName" required />
    <div class="userName error">

    </div>

    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email error">

    </div>

    <label for="phone">Phone</label>
    <input type="phone" name="phone" required />
    <div class="phone error">

    </div>
    <button class="btn-l">Sign up</button>
</form>

<%- include('partials/footer'); -%>
<script src="/js/signup.js"></script>