<!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7-10">
                    <div class="text-left mb-4">
                        <h5  style=" color: black; font-size: 30px;">Lập trình C++ cơ bản, nâng cao</h5>
                        <p>Khóa học lập trình C++ từ cơ bản tới nâng cao dành cho người mới bắt đầu. 
                            Mục tiêu của khóa học này nhằm giúp các bạn nắm được các khái niệm căn cơ của lập trình, 
                            giúp các bạn có nền tảng vững chắc để chinh phục con đường trở thành một lập trình viên.</p>
                    </div>
                    <h5 style=" color: black; font-size: 20px;">Nội dung khóa học</h5>
                    <div class="noidung-cl">
                        <ul>
                            <li class=""><strong>11 </strong> chương</li>
                            <li><strong>138 </strong> bài học</li>
                            <li><span>Thời lượng <strong>10 giờ 26 phút</strong></span></li>
                        </ul>
                            <div class="morongvathunho"><a class="btn" style="color: orangered;" id="morongtatca">Mở rộng tất cả</a></div>
                    </div>
                    <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                        <div class="baihoc1"> 
                            <h6 class="h6-god">
                                <span class="icon expand-icon">+</span>
                                <span>
                                    1. Giới thiệu
                                </span>
                                <span class="span-baihoc">
                                    3 bài học
                                </span>
                            </h6>                      
                        </div>
                    </div>
                    <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                        <div class="noidung-baihoc">
                            <div class="baihoc-div1">
                                <span>
                                    1. Giới thiệu khóa học
                                </span>
                                <span class="time-baihoc">
                                    01:03
                                </span>
                            </div>
                            <div class="baihoc-div2">
                                <span>
                                    2. Cài đặt Dev - c++
                                </span>
                                <span class="time-baihoc">
                                    02:31
                                </span>
                            </div>
                            <div class="baihoc-div3">
                                <span>
                                    3. Hướng dẫn sử dụng Dev - C++
                                </span>
                                <span class="time-baihoc">
                                    03:33
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                        <div class="baihoc1"> 
                            <h6 class="h6-god">
                                <span class="icon expand-icon">+</span>
                                <span>
                                    2. Biến và kiểu dữ liệu
                                </span>
                                <span class="span-baihoc">
                                    7 bài học
                                </span>
                            </h6>                      
                        </div>
                    </div>
                    <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                        <div class="noidung-baihoc">
                            <div class="baihoc-div1">
                                <span>
                                    4. Biến và nhập xuất dữ liệu
                                </span>
                                <span class="time-baihoc">
                                    07:34
                                </span>
                            </div>
                            <div class="baihoc-div2">
                                <span>
                                    5. Biến (variable) là gì?
                                </span>
                                <span class="time-baihoc">
                                    00:25
                                </span>
                            </div>
                            <div class="baihoc-div3">
                                <span>
                                    6. Ôn lại cú pháp khai báo biến #1
                                </span>
                                <span class="time-baihoc">
                                    00:16
                                </span>
                            </div>
                            <div class="baihoc-div4">
                                <span>
                                    7. Ôn lại cú pháp khai báo biến #2
                                </span>
                                <span class="time-baihoc">
                                    00:15
                                </span>
                            </div>
                            <div class="baihoc-div5">
                                <span>
                                    8. Hướng dẫn làm bài thực hành
                                </span>
                                <span class="time-baihoc">
                                    00:17
                                </span>
                            </div>
                            <div class="baihoc-div6">
                                <span>
                                    9. Kiểu dữ liệu thường gặp
                                </span>
                                <span class="time-baihoc">
                                    05:43
                                </span>
                            </div>
                            <div class="baihoc-div7">
                                <span>
                                    10. Biến cục bộ và biến toàn cục
                                </span>
                                <span class="time-baihoc">
                                    06:42
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                        <div class="baihoc1"> 
                            <h6 class="h6-god">
                                <span class="icon expand-icon">+</span>
                                <span>
                                    3. Cấu trúc điều khiển và vòng lặp
                                </span>
                                <span class="span-baihoc">
                                    4 bài học
                                </span>
                            </h6>                      
                        </div>
                    </div>
                    <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                        <div class="noidung-baihoc">
                            <div class="baihoc-div1">
                                <span>
                                    11. Cấu trúc if else
                                </span>
                                <span class="time-baihoc">
                                    09:22
                                </span>
                            </div>
                            <div class="baihoc-div2">
                                <span>
                                    12. Kiểm tra số chẵn lẻ
                                </span>
                                <span class="time-baihoc">
                                    05:21
                                </span>
                            </div>
                            <div class="baihoc-div3">
                                <span>
                                    13. Cấu trúc switch case
                                </span>
                                <span class="time-baihoc">
                                    11:12
                                </span>
                            </div>
                            <div class="baihoc-div3">
                                <span>
                                    14. Toán tử 3 ngôi
                                </span>
                                <span class="time-baihoc">
                                    05:33
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-baihoc" data-target="tonghop-baihoc-1">
                        <div class="baihoc1"> 
                            <h6 class="h6-god">
                                <span class="icon expand-icon">+</span>
                                <span>
                                    4. Mảng
                                </span>
                                <span class="span-baihoc">
                                    2 bài học
                                </span>
                            </h6>                      
                        </div>
                    </div>
                    <div class="tonghop-baihoc" id="tonghop-baihoc-1">
                        <div class="noidung-baihoc">
                            <div class="baihoc-div1">
                                <span>
                                    15. Mảng 1 chiều
                                </span>
                                <span class="time-baihoc">
                                    09:20
                                </span>
                            </div>
                            <div class="baihoc-div2">
                                <span>
                                    16.  Mảng 2 chiều
                                </span>
                                <span class="time-baihoc">
                                    07:27
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-5-10">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="img/cat-1.jpg" alt="">
                    <h5 class="mp-h5">Miễn Phí</h5>
                    <button class="dangky-btn">
                        <a href="/course-learning" class="dangky-btn">ĐĂNG KÝ HỌC</a>
                    </button>
                    <ul class="ul-dangky">
                        <li>
                            <span>Trình độ cơ bản</span>
                        </li>
                        <li>
                            <span>Tổng số 165 bài học</span>
                        </li>
                        <li>
                            <span>Thời lượng 30 giờ 26 phút</span>
                        </li>
                        <li>
                            <span>Học mọi lúc, mọi nơi</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
<script src="/js/course-detail.js"></script>