<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="fiter">
                <a href="courseList"><i class="fas fa-angle-double-left"></i> All Course</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Course Content</h2>
        </div>
        <!-- form handling -->
        <form action="/api/newCourseContent" method="POST" id="add_course">
            <div class="new_course">
                <div class="form-group">
                    <label for="nameCourseContent" class="text-dark">Name Course Content</label>
                    <input type="text" name="nameCourseContent" value="">
                </div>
                <input type="hidden" name="id" value="<%= id %>">
                <div class="form-group">
                    <button type="submit" class="btn btn-dark update">Save</button>
                </div>
            </div>
        </form>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $(document).ready(function () {
            $("#add_course").submit(function (event) {
                event.preventDefault(); // Prevent the default form submission behavior

                $.ajax({
                    type: $(this).attr('method'), // Get the form's HTTP method (e.g., "POST")
                    url: $(this).attr('action'), // Get the form's action URL
                    data: $(this).serialize(), // Serialize the form data for submission
                    success: function () {
                        alert("Data Inserted Successfully!");
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    });


</script>
<!-- End Main Site -->